<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactTailwind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'snap-svg-min' %>
  </head>

  <body>
    <%= yield %>
    <%#= javascript_pack_tag 'classie', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'main3', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
